@for $i from 1 through 100 {
  .p-#{$i} {
    padding: $i * 0.0625rem;
  }
  .p-x-#{$i} {
    padding-left: $i * 0.0625rem;
    padding-right: $i * 0.0625rem;
  }
  .p-y-#{$i} {
    padding-top: $i * 0.0625rem;
    padding-bottom: $i * 0.0625rem;
  }
  .p-t-#{$i} {
    padding-top: $i * 0.0625rem;
  }
  .p-b-#{$i} {
    padding-bottom: $i * 0.0625rem;
  }
  .p-l-#{$i} {
    padding-left: $i * 0.0625rem;
  }
  .p-r-#{$i} {
    padding-left: $i * 0.0625rem;
  }
}